/* ============achievements================== */
.about_achievements{
    margin-top: 3rem;

}
.about_achievements_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about_achievements_right > p{
    margin: 1.6rem 0 2.5rem;

}
.achievements_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.achievement_card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);

}
.achievement_card:hover{
    background: var(--color-bg2);

    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
/* ===================team =========================== */
.team{
    background: var(--color-bg1);
    box-shadow:inset 0 0 3rem rgba(0, 0 , 0, 0.5);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

}
.team_member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}
.team_member:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.team_member_image img{
filter: saturate(0);
}
.team_member_image img:hover{
    filter:saturate(1);
}
.team_member_info *{
    text-align: center;
    margin-top: 1.4rem;

}
.team_member_info p{
    color: var(--color-light);
}